@font-face{
  font-family:"Pomeranian-Regular";
  src:url("C:/Users/eddie/Desktop/Projects/Pomeranian-Regular.ttf");
}
harlow{
  font-family:"Pomeranian-Regular";
}

@font-face{
  font-family:"JKG";
  scr:url("C:/Users/eddie/Desktop/Projects/JKG-M_3.ttf")
}

body{
  color: #555;
  margin: 0;
}

#header{
  background-color: #c6e2ff;
  height: 150px;
  line-height: : 150px;
  font-family:"Pomeranian-Regular", sans-sans-serif;
}

#header a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing:0.1em;
}

#header a:hover{
  color:#222;
}

#header-title{
  display: block;
  float: left;
  font-size:50px;
  font-weight:bold;
}

#header-nav{
  display: block;
  float: right;
  margin-top: 0;
}

#header-nav li{
  display: inline;
  padding-left: 20px;
}

.container{
  max-width: 1000px;
  margin: 0 auto;
}

#footer{
  background-color:#2f2f2f;
  padding: 50px 0;
}

.column{
  min-width:300px;
  display:inline-block;
  vertical-align:top;
}

#footer h4{
  color: white;
  text-transform: uppercase;
  letter-spacing:0.1em;
}

#footer p{
  color:white;
}


.bottom-right{
  position:absolute;
  bottom:-430px;
  right:20px;
  font-family:"Pomeranian-Regular";
  opacity:0.5;
}

.bottom-right2{
  position:absolute;
  bottom:-430px;
  right:20px;
  font-family:"Pomeranian-Regular";
  opacity:0.5;
}

.bottom-right3{
  position: absolute;
  bottom: 999px;
  right: 20px;
  font-family:"Pomeranian-Regular";
  opacity:0.5;
}

.bottom-right4{
  position: absolute;
  bottom: -100px;
  right: 20px;
  font-family:"Pomeranian-Regular";
  opacity:0.5;
}

a{
  color:#1abc9c;
  text-decoration:none;
}

a:active{
  color:#F6A623;
}

.post, .about, .animal {
  max-width:800px;
  margin:0 auto;
  padding:60px 0;
}

.about{
  text-align:center;
}

.post-author img{
  width: 60px;
  height: 50px;
  border-radius:70%;
  vertical-align: middle;
  font-family: "Pomeranian-Regular";
}

.post-container:nth-child(even){
  background-color: #f2f2f2;
}

.about-author img{
  width: 60px;
  height: 50px;
  border-radius:70%;
  vertical-align: middle;
  font-family: "Pomeranian-Regular";
}

.animal-author img{
  width: 60px;
  height: 50px;
  border-radius:70%;
}

.post-author span{
  margin-left: 16px;
  border:3px dotted #c6e2ff;
}

.animal-author span{
  margin-left: 16px;
  border:3px dotted #c6e2ff;
}

.post-date, .animal-date{
  color:#D2D2D2;
  font-size:14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: "Pomeranian-Regular";
}

.post-content, .word-content, .animal-content{
  border:2px dotted #c6e2ff;
}

h1,h2,h3,h4{
  color:#333;
  font-family: "Pomeranian-Regular";
}
h1{
  text-align: center;
}

p{
  line-height:1.5;
}

.grid-container{
  display:grid;
  grid-template-columns:repeat(5,1fr);
  grid-gap:1em;
  grid-auto-rows:minmax(100px,auto);
}
.grid-container1{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  grid-gap:1em;
  grid-auto-rows:minmax(100px,auto);
}

.maincontainer{
  perspective:1000px;
  margin:15px auto;
  width:250px;
  height:280px;
}

.thecard{
  position: relative;
  width: 100%;
  height:100%;
  transform-style:preserve-3d;
  transition:all 0.5s ease;
}

.thecard:active{
  transform:rotateY(180deg);
}

.thefront{
  position: absolute;
  width: 100%;
  height:100%;
  backface-visibility: hidden;
  background: #CBFFFA;
  color:#333;
  text-align:center;
  font-family: "JKG";
  border-radius:20px;
  font-size:18px;
  font-weight: bold;
}

.theback{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility:hidden;
  background: #c6e2ff;
  color:#333;
  transform: rotateY(180deg);
  text-align:center;
  font-family: "JKG";
  border-radius:20px;
  font-size:18px;
  font-weight: bold;
}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #ffffff;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
}

/* Dropdown Button */
.dropbtn {
  font-family:"Pomeranian-Regular", sans-sans-serif;
  background-color: #c6e2ff;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #c6e2ff;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display:none;
  position: absolute;
  background-color: #c6e2ff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #CBFFFA}


/* Dropdown Button */
.dropbtn2 {
  font-family:"Pomeranian-Regular", sans-sans-serif;
  background-color: #c6e2ff;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn2:hover, .dropbtn2:focus {
  background-color: #c6e2ff;
}

/* The container <div> - needed to position the dropdown content */
.dropdown2 {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content2 {
  display:none;
  position: absolute;
  background-color: #c6e2ff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content2 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content2 a:hover {background-color: #CBFFFA}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.jp{
  font-size: 18px;
}

.furigana_enabled{
  line-height: 2.1em;
}

.furigana_enabled .word{
  margin-right: 0.5em;
  position:relative;
  top: 0.6em;
  display: inline-block;
  white-space: nowrap;
}
.furigana_enabled .kanji::before {
  content: attr(data-reading);
  color: gray;
  font-size: 50%;
  line-height: 1;
  position: absolute;
  top: -0.5em;
  white-space: nowrap;
}
.japanese_gothic {
  font-family: "HiraKakuPro-W3", "Hiragino Kaku Gothic Pro W3", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "游ゴシック", YuGothic, "ＭＳ Ｐゴシック", "MS PGothic", "ＭＳ ゴシック", "MS Gothic", sans-serif;
}
